@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dark #loader {
  background: black;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #7c3aed;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#input-loader {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

body.font-mono {
  font-family: monospace;
}
body.font-sans-serif {
  font-family: sans-serif;
}
body.font-serif {
  font-family: serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: disc;
}

/* DARK MODE */

body {
  transition: color 0.3s ease;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #121212;
  z-index: -1;

  clip-path: circle(0% at top left);
  transition: clip-path 0.5s ease-in-out;
}

body.dark::before {
  clip-path: circle(150% at bottom right);
}

body.dark {
  color: #fff;
}

body.dark .dark-mode-icon {
  filter: invert(14%) sepia(83%) saturate(7460%) hue-rotate(274deg)
    brightness(95%) contrast(102%);
}

body.dark .font-variety {
  border: white 2px solid;
}

body.dark option {
  background-color: black;
  color: white;
}

body.dark .search-input {
  background-color: #2c2c2c;
  border: 2px solid #444444;
  color: white;
}

/* HEADER */

header {
  margin-top: 38px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 24px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #777;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.dark-mode-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* MAIN */

.search-bar {
  margin-top: 48px;
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 18px;
  border: 2px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-bottom: 24px;

  background-image: url(../images/icon-search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 28px center;
}

.synonyms,
.pronounciation {
  color: #a445ed;
  font-weight: 700;
}

h2 {
  margin-bottom: 24px;
  margin-top: 24px;
}

/* RESPONSIVE */

@media (max-width: 520px) {
  header {
    margin-top: 20px;
  }

  .logo {
    width: 26px !important;
    height: 26px !important;
  }

  .switch {
    width: 44px;
    height: 24px;
    margin-left: 16px;
  }
  .slider:before {
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 4px;
  }

  input:checked + .slider:before {
    transform: translateX(22px);
  }

  .dark-mode-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  .font-variety {
    font-size: 14px;
  }
}
